@use "./colors";
@use "./typography";
@use "./animations";
@use "./layout";

@use "./components/logo";
@use "./components/chat";

body {
  animation: fadeIn 0.8s ease-out;
  background: colors.$background;
  color: colors.$text-light;
}
